html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0 0 1rem 0;
}

button {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.75rem;
  cursor: pointer;
  text-align: center;
  background: transparent;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0.5rem;
  border: 1px solid #e0e0e0;
}

button:hover,
button:focus {
  background: #e8e8e8;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
