.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1
}

.main {
  position: relative;
  min-height: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.titleLessons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleLessons button {
  margin: 0 0 .3rem 1rem;
  padding: .5rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


.signInButton {
  border: 1px solid;
  border-radius: .3rem;
  margin: .25rem 0;
  padding: .3rem;

  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.lessons {
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  width: 80vw;
  text-align: center;
  background-color: white;
}

.lessons span  {
  width: 25%;
  z-index: 1;
}

.tableHeader, .tableRow, .tableRowInteractive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  border-radius: 0.5rem;
}

.going::before {
  content: '';
  position: absolute;
  left: 25%;
  width: calc(75% - 1px);
  height: calc(4rem - 2px);
  background: #dbf5db; 
  border: 1px solid #8ec38e;
}
.tableHeader {
  margin: 1rem;
}

.tableStriped {
  position: relative;
}

.tableStriped .tableRow:first-child {
  height: 0;
}

.tableStriped:nth-child(2) {
  border-top: 1px solid #eaeaea;
}
.tableStriped:nth-child(odd) {
  background-color: #f5f5f5;
}

.tableRow, .tableRowInteractive {
  height: 4rem;
  font-weight: 300;
}

.tableRowInteractive {
cursor: pointer;
}

.tableRowInteractive:hover::before {
  background-color: #eaeaea;
  content: '';
  position: absolute;
  left: 25%;
  width: calc(75% - 1px);
  height: calc(4rem - 2px);
}

.tableRow span:first-child {
  display: flex;
  align-items:center;
  justify-content: center;
}

.tableRow svg {
  margin-right: 0.5rem;
}

.backButton {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

.dateGroup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.dateContainer {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: right;
}

.dateContainer div {
  font-size: 1.75rem;
}

.dateContainer small:first-child {
  position: absolute;
  top: -6px;
  left: 1px;
  color: grey;
  font-size: 60%;
}

.dateContainer small:nth-child(3) {
  position: absolute;
  bottom: -9px;
  left: 1px;
}

@media (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .lessons {
    width: 99vw;
  }

  .tableRow span:first-child {
    justify-content: flex-start;
    margin-left: 0.5rem;
  }
}

.classColumn {
  position: relative;
  display: flex;
  flex-direction: column;
}

.classColumn > small {
  color: grey;
  font-weight: bold;
  font-size: 60%;
}
