.modalBlur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  width: 70vw;
  border: 1px solid #eaeaea;
  background-color: white;
  opacity: 1;
  padding: 2rem;
  border-radius: .5rem;
  position: relative;
}

.fieldsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.form {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
}

.form button {
  padding: 0.5rem;
  height: 40px;
}

.input {
  padding: .5rem;
  height: 40px;
}

.toggle {
  display: flex;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  cursor: pointer;
}


