.nav {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  background-color: white;
}

.logo {
  margin-left: 4px;
}

.navHeader {
  font-size: 1rem;
  margin-left: 1rem;
  flex: 1;
}

.profilePic {
  border: 1px solid #eaeaea;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.signout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

